body {
    font-family: 微軟正黑體;
}

/* sideBar 調整 ==================================================*/

.sidebar-profile h4 {
    font-size: 2rem !important;
    margin-top: 10px;
}
.sidebar-profile h5 {
    font-size: 2.5rem !important;
    font-weight: 700 !important;
    text-shadow: 0px 0px 5px #333333;
}

/* sideBar 選單文字調整 ==================================================*/
ul.sidebar-buttons li.sidebar-button .sidebar-button-link span {
    font-size: 2rem !important;
    font-weight: 900;
    color: whitesmoke;
    text-shadow: 0px 0px 5px #333333;
    transition: all 0.8s;
}
ul.sidebar-buttons li.sidebar-button .sidebar-button-link i {
    font-size: 2.5rem !important;
    text-shadow: 0px 0px 5px #333333;
    transition: all 0.8s;
}

/* sideBar 選單hover動畫 ==================================================*/
ul.sidebar-buttons li.sidebar-button .sidebar-button-link :hover {
    color: yellow;
}

ul.sidebar-buttons li.sidebar-button .sidebar-button-link i:hover {
    color: yellow;
    transform: scale(1.3) rotate(-360deg);
}

/* 背景動畫 ==================================================*/
.bubble {
    position: fixed;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    /*z-index defult value=1*/
    z-index: 0;
    /*upgrade gpu rendering*/
    transform: translateZ(0);
}

.bubble li {
    position: absolute;
    list-style: none;
    display: block;
    background: rgba(255, 255, 255, 0.2);
    /*make bubble on page bottom*/
    bottom: -100px;
    animation: bubble-ani 10s linear infinite;
    border-radius: 100%;
}

/* glow of the bubbles ==================================================*/
.bubble li:before {
    position: absolute;
    left: 20%;
    top: 21%;
    width: 25%;
    content: "";
    background: rgba(255, 255, 255, 0.2);
    display: block;
    height: 25%;
    border-radius: 100%;
}

.bubble li:nth-child(1) {
    width: 20px;
    height: 20px;
    left: 15%;
}

.bubble li:nth-child(2) {
    width: 40px;
    height: 40px;
    left: 40%;
    bottom: -8%;
    animation-duration: 10;
    animation-delay: 2s;
}

.bubble li:nth-child(3) {
    width: 25px;
    height: 25px;
    left: 30%;
    bottom: -5%;
    animation-duration: 15s;
    animation-delay: 3.5s;
}

.bubble li:nth-child(4) {
    width: 60px;
    height: 60px;
    left: 55%;
    animation-duration: 18s;
    animation-delay: 1.5s;
}

.bubble li:nth-child(5) {
    width: 20px;
    height: 20px;
    left: 35%;
    animation-duration: 13s;
    animation-delay: 2s;
}

.bubble li:nth-child(6) {
    width: 25px;
    height: 25px;
    left: 23%;
    animation-duration: 8s;
    animation-delay: 2s;
    /* border: 1px solid red; */
}

.bubble li:nth-child(7) {
    width: 40px;
    height: 40px;
    left: 5%;
    bottom: -7%;
    animation-duration: 7s;
    animation-delay: 2s;
    /* border: 1px solid blue; */
}
.bubble li:nth-child(8) {
    width: 40px;
    height: 40px;
    left: 70%;
    bottom: -6%;
    animation-duration: 9s;
    animation-delay: 2s;
    /* border: 1px solid blue; */
}

@keyframes bubble-ani {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-1080px);
        transform: translateY(-1080px) rotate(100deg);
    }
}
/* 動態背景 (尾)================================================== */

/* 頁面文章卡片內容字數 調整 */
/* .postShorten .postShorten-excerpt {
    height: 85px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-top: 5px;
    line-height: 27px;
} */

/* 大頭貼 CSS設定  ==================================================*/
/* 側邊欄的大頭貼 */
#sidebar .sidebar-container .sidebar-profile .sidebar-profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 0.5px solid whitesmoke;
    object-fit: cover;
    transition: all 1s;
}
/* 導覽列的大頭貼 */

#header .header-right-picture .header-picture {
    object-fit: cover;
}
@media all and (max-width: 1284px) {
    #sidebar .sidebar-container .sidebar-profile .sidebar-profile-picture {
        width: 100px;
        height: 100px;
    }
}

@media all and (max-width: 1024px) {
    #sidebar .sidebar-container .sidebar-profile .sidebar-profile-picture {
        width: 50px;
        height: 50px;
    }
}
/* @media all and (max-width: 768px) {
    #sidebar .sidebar-container .sidebar-profile .sidebar-profile-picture {
        width: 50px;
        height: 50px;
    }
} */

/* 修改頁面footer 內容沒填滿一樣置底CSS ==================================================*/
#main {
    display: flex;
    flex-direction: column;
}
.postShorten-group,
#categories-archives,
#tags-archives,
.post {
    flex: 1;
}
@media all and (min-width: 1284px) {
    #main {
        padding: 0 !important;
    }
}

/* 繼續閱讀的按鈕修改 ==================================================*/
.postShorten-excerpt > p:last-child {
    text-align: right;
}
.postShorten-excerpt > p:last-child a {
    position: relative;
    text-decoration: none;
    transition: all 2s;
}
.postShorten-excerpt > p:last-child a::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 0;
    height: 2.5px;
    background-color: #0c5d72;
    bottom: -2.5px;
    transition: all 0.5s;
}

a:hover::before {
    content: "";
    width: 100% !important;
}
